
            html,
            body,
            header,
            #intro-section {
                height: 100%;
            }
            
           
            @media{
                html,
                body,
                header,
                #intro-section {
                    height: 100vh; /* full view port height */
                }
            }

             .blue-text{
                         color: rgba(6, 32, 87, 0.6);
}

            .top-nav-collapse, .page-footer {
                background-color: rgba(6, 32, 87, 0.6);
            }

            .navbar:not(.top-nav-collapse) {
                background: transparent;
            }

            @media (max-width: 991px) {
                .navbar:not(.top-nav-collapse) {
                    background: rgba(6, 32, 87, 0.6);
                }
            }

            #res{
                     background-color: rgba(217, 37, 112, 0.5);
            }

            #whitebg{
            
                        background-color: rgba(	187, 212, 219, 0.7);
            }

            #name{
            
                        color: rgb(54, 91, 143);
            }

            #current{
            
                        color: rgb(	74, 49, 30);
            }

            #grades{
            
                        color: rgb(	74, 49, 30);
            }

            
             #flowers{
                
                height: 100vh;
                width: 100%;
                background-image: url("flowers.jpg");   
                position: relative;
                z-index: 3;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                
}
        
            .rgba-gradient {
                        
                position: relative;
                /*opacity: 0.5;*/
                z-index: 2;
                background: rgba(217, 37, 112, 0.5);
                background: -webkit-linear-gradient(to bottom, rgba(6, 32, 87, 0.6), rgba(217, 37, 112, 0.5));
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to bottom, rgba(6, 32, 87, 0.6), rgba(217, 37, 112, 0.5));
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }


              
